.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.profile-details p {
  margin: 15px 0;
  font-size: 16px;
  color: #333;
}

.profile-details strong {
  color: #666;
  margin-right: 10px;
}
